body {
    background: rgb(98,232,231);
    background: radial-gradient(circle, rgba(98,232,231,1) 0%, rgba(2,109,140,1) 44%, rgba(0,212,255,1) 80%);
  }


.container {
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 190px;
    top: 50px;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    border: 1px solid black;
    border-radius: 30px;
}
.searchBar {
    width: 700px;
    height: 75px;
    text-align: center;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 350px;
    left: 75px;
}
.ICE {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 310px;
    top: 60px;
}
.key {
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 525px;
    left: 100px;
}
.searchBtn {
    height: 75px;
    width: 75px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 785px;
    top: 352.5px;
}
.KEY {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 425px;
    left: 450px;    
}
